<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Para las fechas -->
    <add key="DateTimeNow" value="01/01/2013" />
    <add key="DateFormatString" value="dd/MM/yyyy"/>
    <add key="DateTimeFormatString" value="dd/MM/yyyy hh:mm"/>
    <!-- Para el log-->
    <add key="log_path" value="." />
    <!-- Para los stored procedures genéricos -->
    <add key="BaseDeDatos_Esquema" value="TOP_4"/>

    <add key="SP_Obtener" value="{0}.sp_{1}_select"/>
    <add key="SP_Obtener_Todos" value="{0}.sp_{1}_select_all"/>
    <add key="SP_Borrar" value="{0}.sp_{1}_delete"/>
    <add key="SP_Actualizar" value="{0}.sp_{1}_update"/>
    <add key="SP_Insertar" value="{0}.sp_{1}_insert"/>

    <!-- Para la base de datos-->
    <add key="connection_string" value="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Ejemplo;Data Source=.\SQLSERVER2008"/>
  </appSettings>
</configuration>